  <div class="py-4 px-4">
    <div class="mx-auto text-white justify-center w-full bg-gray-900 bg-opacity-50 rounded-2xl">
      <div class="flex py-2 bg-league-gray rounded-tr-2xl rounded-tl-2xl">
        <div class="flex">
          <p class="text-base text-left uppercase font-bold ml-6 flex">  <%= image_tag("info-circle.svg", class: "flex align-center justify-center mr-2 mx-auto py-auto") %>  League Info</p>
        </div>
      </div>
      <div class="px-4 flex justify-center mx-auto py-2"> 
        <div class="text-xs text-right py-1">
          <p class="mx-1 py-1">League President</p>
          <p class="mx-1 py-1">Club Pro</p>
          <p class="mx-1 py-1">League Manager</p>
          <p class="mx-1 py-1">Front Office Number</p>
        </div>
        <div class="text-xs py-1">
          <p class="mx-1 py-1 font-bold">Cory Junck</p>
          <p class="mx-1 py-1 font-bold">Tele Whitman</p>
          <p class="mx-1 py-1 font-bold">Brett Simpson</p>
          <p class="mx-1 py-1 font-bold">801-123-4566</p>
        </div>
      </div>
      <div class="pb-4 mx-4 justify-center flex">
        <%= link_to "Submit a question", root_path, class: "flex w-full justify-center rounded-full px-3 py-1 text-sm font-bold font-semibold leading-6 text-black shadow-sm 2 focus-visible:outline-offset-2 bg-league-yellow" %>
      </div>
    </div>
  </div>
  <div class="relative flex items-center px-6">
  <div class="flex-grow border-t border-black"></div>
    <span class="flex-shrink mx-4 text-white font-bold uppercase text-base">League Rules</span>
  <div class="flex-grow border-t border-black"></div>
</div>

  <div class="py-4 px-4">
    <div class="mx-auto text-white justify-center w-full bg-gray-900 bg-opacity-50 rounded-2xl">
      <div class="flex py-2 bg-league-gray rounded-tr-2xl rounded-tl-2xl">
        <div class="flex">
         <div class="ml-6 bg-league-yellow rounded-full my-auto block align-center w-3 h-3 inline-block"></div>
          <p class="text-base ml-2 text-left uppercase font-bold flex"> New Rule!</p>
        </div>
      </div>
      <div class="px-4 flex justify-center mx-auto py-2"> 
        <div class="text-xs mx-4 py-1">
          <p class="mx-1 text-base text-league-yellow font-bold py-1">Weekly League Play</p>
          <li class="py-2">Scorecard MUST be turned in each week for eligible score. </li>
          <li class="py-2">Every player MUST hole out for an eligible score during league play. Absolutely no “gimmes” are allowed during league play. </li>
          <li class="py-2">Drop Zones for holes 7 &amp; 17 are the green tees for those holes. </li>

        </div>
      </div>
      <div class="px-4 flex justify-center mx-auto py-2"> 
        <div class="text-xs mx-4 py-1">
          <p class="mx-1 text-base text-league-yellow font-bold py-1">Weekly League Play</p>
          <li class="py-2">Scorecard MUST be turned in each week for eligible score. </li>
          <li class="py-2">Every player MUST hole out for an eligible score during league play. Absolutely no “gimmes” are allowed during league play. </li>
          <li class="py-2">Drop Zones for holes 7 &amp; 17 are the green tees for those holes. </li>

        </div>
      </div>
      <div class="px-4 flex justify-center mx-auto py-2"> 
        <div class="text-xs mx-4 py-1">
          <p class="mx-1 text-base text-league-yellow font-bold py-1">Weekly League Play</p>
          <li class="py-2">Scorecard MUST be turned in each week for eligible score. </li>
          <li class="py-2">Every player MUST hole out for an eligible score during league play. Absolutely no “gimmes” are allowed during league play. </li>
          <li class="py-2">Drop Zones for holes 7 &amp; 17 are the green tees for those holes. </li>

        </div>
      </div>

  <div class="flex-grow border-t border-gray-900"></div>

      <div class="pb-4 mx-4 justify-center flex">
        <p class="text-sm text-league-yellow font-bold mx-auto text-center flex justify-center py-2"> share rules </p>
      </div>
    </div>
  </div>