<%= render "layouts/sidebar" %>
<main class="py-10 lg:pl-72">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <h2 class="text-xl font-bold mb-4">Round <%= @round_number %></h2>
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= render "form" %>
  </div>  
</div>
</main>