<main class="py-10 lg:pl-72">
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= render "form" %>
    </div>
  </div>
</main>